@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  /* Buttons, icons, accents */
  --color-memorial-purple: #6b4eff;
  /* Background sections tabs, hover states */
  --color-soft-lavender: #edebff;
  /* Base background content areas */
  --color-gentle-stone: #f8f6f2;
  /* Add Memory, Share Tribute buttons, etc */
  --color-rosewood: #e63946;
  --color-rose-beige: #fff4f4;
  --font-playfair: "Playfair Display", "serif";
  --font-lato: "Lato", "sans-serif";
}

@layer components {
  .button {
    @apply transform hover:scale-105 transition-all bg-memorial-purple/90 text-white px-8 py-4 text-xl font-semibold rounded-xl shadow-lg hover:bg-memorial-purple;
  }
  .button2 {
    @apply transform hover:scale-105 transition-all bg-pink-100 text-memorial-purple px-8 py-4 text-xl font-semibold rounded-xl shadow-lg hover:bg-pink-200;
  }
}
