@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@import "uploadthing/tw/v4";
@import "../node_modules/@uploadthing/react/dist";

@theme {
  /* Buttons, icons, accents */
  --color-memorial-purple: #6b4eff;
  /* Background sections tabs, hover states */
  --color-soft-lavender: #edebff;
  /* Base background content areas */
  --color-gentle-stone: #f8f6f2;
  /* Add Memory, Share Tribute buttons, etc */
  --color-rosewood: #e63946;
  /* --color-rose-beige: #fff4f4; */
  --font-playfair: "Playfair Display", "serif";
  --font-lato: "Lato", "sans-serif";
  /* gray-800 , gray-600, gray-400 */
}

body {
  background-color: #f8f6f2;
  box-sizing: border-box;
}

@layer components {
  .btn-CtaPrimary {
    @apply bg-memorial-purple/90 text-white hover:bg-memorial-purple transform hover:scale-105 transition-all rounded-xl shadow-lg font-semibold text-xl px-8 py-4;
  }
  .btn-CtaSecondary {
    @apply bg-pink-100 text-memorial-purple   hover:bg-pink-200 transform hover:scale-105 transition-all rounded-xl shadow-lg font-semibold text-xl px-8 py-4;
  }
}

/* @layer base {
  h1 {
    @apply text-4xl md:text-5xl font-bold font-playfair tracking-tight text-gray-800;
  }

  h2 {
    @apply text-3xl md:text-4xl font-semibold font-playfair tracking-tight;
  }

  h3 {
    @apply text-2xl md:text-3xl font-semibold font-lato;
  }

  h4 {
    @apply text-xl md:text-2xl font-medium font-lato;
  }

  p {
    @apply text-base md:text-lg font-lato text-gray-600;
  }
} */

@utility flex-center {
  @apply flex justify-center items-center;
}
